@font-face {
    font-family: "raleway";
    src: url(../fonts/static/Raleway-Light.ttf);
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "raleway";
    src: url(../fonts/static/Raleway-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "raleway";
    src: url(../fonts/static/Raleway-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "raleway";
    src: url(../fonts/static/Raleway-ExtraBold.ttf);
    font-weight: 700;
    font-style: normal;
}

body{
    font-family: 'raleway';
}

input, textarea{
    font-family: 'raleway';
}