@use 'colors';

.filters-container{
    padding: 1rem 0;
    margin: .3rem auto;

    input {
        border-radius: 5px;
        border: 1px solid #e6e6e6;
        padding: .5rem 1rem;
        width: 180px;
        color: rgb(44, 44, 44);

        &:focus{
            outline: none;
        }
    }
}

.filters-list{
    display: flex;
    align-items: flex-end;
    gap: 1rem;
    padding: 1rem 0;
    font-size: .97rem;

    .filter-item{
        cursor: pointer;
        padding: .5rem 1rem;
        border-radius: 5px;
        color: rgb(88, 88, 88);

        &:hover{
            background-color: #eeeeee;
        }
    }

    .sort-by{
        margin-left: auto;
        label{
            font-size: .9rem;
            color: rgb(88, 88, 88);
            margin-bottom: .5rem;
        }
        select{
            display: block;
            padding: .5rem 1rem;
            width: 130px;
            padding: .7rem 1rem;
            border: 1px solid #e4e3e3;
            border-radius: 7px;
            outline: none;


            &:hover, &:focus{
                border-color: colors.$color1;
            }
        }
    }

}