@use 'colors';

*{
    box-sizing: border-box;
}
.container{
    margin: auto;
    max-width: 100%;
    @media screen and (min-width: 576px) {
        max-width: 	540px;
    }
    @media screen and (min-width: 768px){
        max-width: 720px;
    }
    @media screen and (min-width: 992px){
        max-width: 960px;
    }
    @media screen and (min-width: 1200px){
        max-width: 1140px;
    }
    @media screen and (min-width: 1400px){
        max-width: 1320px;
    }
}



.mt{
    margin-top: 1rem;
}




.btn-primary{
    background-color: colors.$color1;
    padding: .7rem 1.5rem;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}
.btn-secondary{
    background-color: colors.$color4;
}

